<div class="row">
  <div class="col-md-12">
    <%= image_tag @page.content(:photo).try(:file_url), style: "width: 100%;" %>
  </div>
</div>


<h1>
  <%= @page.title %>
</h1>
<h2><%= @page.content(:line) %></h2>
<%= render "demo/pages/carousel" %>

<h3><%= @page.content(:line2) %></h3>

<h5>Structure</h5>
<% if @page.content(:structure).try(:structure_items) %>
  <ul>
    <% @page.content(:structure).structure_items.each do |item| %>
      <li>
        <h6>Title</h6>
        <p>
          <%= item.content(:title) %>
        </p>
        <h6>Description</h6>
        <%= item.content(:description).try(:html_safe) %>
      </li>
    <% end %>
  </ul>
<% end %>
