<h1>
  <%= @page.title %>
</h1>

<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-info" type="submit" value="Submit">
<h5>Line</h5>
<p>
  <%= @page.content(:line) %>
</p>
<h5>Content</h5>
<%= @page.content(:text).try(:html_safe) %>
<h5>Photo</h5>
<p>
  <%= image_tag @page.content(:photo).try(:file_url) %>
</p>
<h5>Photo collection</h5>
<% if @page.content(:photo_collection).try(:photos) %>
  <ul>
    <% @page.content(:photo_collection).photos.each do |photo| %>
      <li>
        <%= image_tag photo.file_url %>
      </li>
    <% end %>
  </ul>
<% end %>
<h5>Structure</h5>
<% if @page.content(:structure).try(:structure_items) %>
  <ul>
    <% @page.content(:structure).structure_items.each do |item| %>
      <li>
        <h6>Title</h6>
        <p>
          <%= item.content(:title) %>
        </p>
        <h6>Description</h6>
        <%= item.content(:description).try(:html_safe) %>
      </li>
    <% end %>
  </ul>
<% end %>
